<link rel="stylesheet" href="/src/css/about.css" />

<section class="sobre-page">
  <section class="sobre-content">
    <h2>Sua jornada começa aqui</h2>
    <p>
      A GoFly nasceu em 2020 com uma missão clara: transformar sonhos de viagem
      em realidade. Com mais de 1000 destinos em nosso portfólio, nos dedicamos
      a criar experiências únicas e memoráveis para nossos clientes.
    </p>
  </section>

  <!-- Seção de Depoimentos -->
  <section class="testimonials">
    <h2>O que nossos viajantes dizem</h2>
    <p>
      Na GoFly, valorizamos o feedback de nossos viajantes. Veja o que alguns
      deles têm a dizer sobre suas experiências
    </p>
    <div class="testimonials-carousel">
      <div class="testimonial-card">
        <img src="caminho/para/foto1.jpg" alt="Usuário 1" class="user-photo" />
        <h3>Abdur Razzak</h3>
        <p>London, UK</p>
        <p class="testimonial-text">
          A equipe da GoFly tornou nossa viagem inesquecível! Desde o processo
          de reserva até o suporte ao cliente disponível 24/7, cada detalhe foi
          cuidado. Mal posso esperar para reservar minha próxima aventura!
        </p>
      </div>
      <div class="testimonial-card">
        <img src="caminho/para/foto2.jpg" alt="Usuário 2" class="user-photo" />
        <h3>James R.</h3>
        <p>London, UK</p>
        <p class="testimonial-text">
          Adorei o Pacote Explorer! Os guias foram atenciosos e amigáveis, e ter
          suporte ao cliente a qualquer hora me deu tranquilidade durante toda a
          viagem.
        </p>
      </div>
      <div class="testimonial-card">
        <img src="caminho/para/foto3.jpg" alt="Usuário 3" class="user-photo" />
        <h3>Emily L.</h3>
        <p>London, UK</p>
        <p class="testimonial-text">
          A GoFly superou minhas expectativas. A atenção aos detalhes e o
          compromisso com a satisfação do cliente fizeram nossa viagem ser
          realmente especial. Recomendo muito!
        </p>
      </div>
    </div>
  </section>
</section>
